:host {
  display: block;
  margin: 3rem auto;
  max-width: 60rem;
  text-align: center;
}

form {
  background-color: #b0ab99;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  color: #593a4f;
}

h2 {
  font-size: 2.1rem;
}

.btn-group {
  display: flex;
  justify-content: space-around;
}

button {
  font: inherit;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #7b7870;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #525048;
}

.table-container {
  margin: 0 auto;
  margin-top: 2rem;
  max-height: 20rem;
  overflow-y: scroll;
  width: 85%;
}

.table-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.table-container::-webkit-scrollbar {
  width: 12px;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #313131;
}

tr:hover {
  background-color: #b5ab87;
}

.about {
  display: block;
  margin-top: 2rem;
  cursor: pointer;
}

.about:hover,
.about:link,
.about:active {
  color: #4d543b;
  transform: scale(1.2);
}
