<div class="backdrop" (click)="onClose()"></div>
<dialog open>
  <button (click)="onClose()">
    <span aria-hidden="true"><i class="fa fa-window-close">X</i></span>
  </button>
  <h2>
    Знайти мінімальну кількість чисел, квадрат яких у сумі дає задане число n.
  </h2>

  <hr />

  <section id="BFS">
    <h4>Алгоритм 1: sumOfSquares_BFS</h4>
    <p>
      Цей алгоритм використовує метод пошуку в ширину (BFS) для обчислення
      мінімальної кількості квадратів.
    </p>
    <ol>
      <li>Створюється список всіх квадратів, менших або рівних n.</li>
      <li>
        Використовується BFS для пошуку мінімальної глибини, на якій можна дійти
        до 0, віднімаючи квадрати з поточного значення.
      </li>
      <li>
        Вершини (залишки) додаються в чергу, щоб перевірити всі можливі
        комбінації.
      </li>
    </ol>
    <p>Time Complexity: 𝑂 (𝑛 × √𝑛)</p>
    <p>Space Complexity: 𝑂(𝑛): для відвіданих вузлів і черги BFS.</p>
  </section>

  <hr />

  <section id="lagrange">
    <h4>Алгоритм 2: sumOfSquares_Lagrange</h4>
    <p>
      Цей алгоритм реалізує Теорему Лагранжа про чотири квадрати, яка стверджує,
      що будь-яке натуральне число може бути подане як суму чотирьох або менше
      квадратів натуральних чисел. На основі цієї теореми алгоритм обчислює
      мінімальну кількість квадратів.
    </p>
    <ol>
      <li>
        Перевіряємо, чи є число n повним квадратом. Якщо так — повертаємо 1.
      </li>
      <li>
        Ітеруємо через всі числа до √𝑛​ і перевіряємо, чи різниця n - i^2 є
        повним квадратом. Якщо так — повертаємо 2.
      </li>
      <li>
        Видаляємо множники 4 з n і перевіряємо, чи залишок після поділу на 8
        дорівнює 7. Якщо так — повертаємо 4.
      </li>
      <li>У всіх інших випадках повертаємо 3.</li>
    </ol>
    <p>Time Complexity: 𝑂 (√𝑛)</p>
    <p>
      Space Complexity: 𝑂(1): використовуються лише константні додаткові змінні.
    </p>
  </section>

  <hr />
</dialog>
